In [1]:
import os
import csv
import pandas as pd
import numpy as np

In [2]:
load_file = "astronaut_format.csv"
load_file1 = "eva_format.csv"

astronaut_format_df = pd.read_csv(load_file)
eva_format_df = pd.read_csv(load_file1)

In [3]:
eva_format_df["Undergraduate Major"] = ""
eva_format_df["Graduate Major"] = ""
eva_format_df.head(5)

,EVA #,Country,Crew,Vehicle,Date,Duration,Purpose,Undergraduate Major,Graduate Major
0,1.0,USA,Ed White,Gemini IV,06/03/1965,0:36,First U.S. EVA. Used HHMU and took photos. G...,,
1,2.0,USA,David Scott,Gemini VIII,"March 16-17, 1966",0:00,HHMU EVA cancelled before starting by stuck on...,,
2,3.0,USA,Eugene Cernan,Gemini IX-A,06/05/1966,2:07,"Inadequate restraints, stiff 25ft umbilical an...",,
3,4.0,USA,Mike Collins,Gemini X,07/19/1966,0:50,Standup EVA. UV photos of stars. Ended by ey...,,
4,5.0,USA,Mike Collins,Gemini X,07/20/1966,0:39,Retrieved MMOD experiment from docked Agena. ...,,

In [4]:
astronaut_format_df.head(11)

,Name,Year,Group,Status,Birth Date,Birth Place,Gender,Alma Mater,Undergraduate Major,Graduate Major,...,Space Flights,Space Flight (hr),Space Walks,Space Walks (hr),Missions,Death Date,Death Mission,Last Name,First Name,Full Name
0,Joseph M. Acaba,2004.0,19.0,Active,5/17/1967,"Inglewood, CA",Male,University of California-Santa Barbara; Univer...,Geology,Geology,...,2,3307,2,13.0,"STS-119 (Discovery), ISS-31/32 (Soyuz)",NaN,NaN,Acaba,Joseph,Joseph Acaba
1,Loren W. Acton,NaN,NaN,Retired,3/7/1936,"Lewiston, MT",Male,Montana State University; University of Colorado,Engineering Physics,Solar Physics,...,1,190,0,0.0,STS 51-F (Challenger),NaN,NaN,Acton,Loren,Loren Acton
2,James C. Adamson,1984.0,10.0,Retired,3/3/1946,"Warsaw, NY",Male,US Military Academy; Princeton University,Engineering,Aerospace Engineering,...,2,334,0,0.0,"STS-28 (Columbia), STS-43 (Atlantis)",NaN,NaN,Adamson,James,James Adamson
3,Thomas D. Akers,1987.0,12.0,Retired,5/20/1951,"St. Louis, MO",Male,University of Missouri-Rolla,Applied Mathematics,Applied Mathematics,...,4,814,4,29.0,"STS-41 (Discovery), STS-49 (Endeavor), STS-61 ...",NaN,NaN,Akers,Thomas,Thomas Akers
4,Buzz Aldrin,1963.0,3.0,Retired,1/20/1930,"Montclair, NJ",Male,US Military Academy; MIT,Mechanical Engineering,Astronautics,...,2,289,2,8.0,"Gemini 12, Apollo 11",NaN,NaN,Aldrin,Buzz,Buzz Aldrin
5,Andrew M. Allen,1987.0,12.0,Retired,8/4/1955,"Philadelphia, PA",Male,Villanova University; University of Florida,Mechanical Engineering,Business Administration,...,3,906,0,0.0,"STS-46 (Atlantis), STS-62 (Columbia), STS-75 (...",NaN,NaN,Allen,Andrew,Andrew Allen
6,Joseph P. Allen,1967.0,6.0,Retired,6/27/1937,"Crawsfordsville, IN",Male,DePauw University; Yale University,Mathematics & Physics,Physics,...,2,313,2,12.0,"ST-5 (Columbia), STS 51-A (Discovery)",NaN,NaN,Allen,Joseph,Joseph Allen
7,Scott D. Altman,1995.0,15.0,Retired,8/15/1959,"Lincoln, IL",Male,University of Illinois; US Naval Postgraduate ...,Aeronautical & Astronautical Engineering,Aeronautical Engineering,...,4,1236,0,0.0,"STS-90 (Columbia), STS-106 (Atlantis), STS-109...",NaN,NaN,Altman,Scott,Scott Altman
8,William A. Anders,1963.0,3.0,Retired,10/17/1933,Hong Kong,Male,US Naval Academy; Air Force Institute of Techn...,Nuclear Engineering,Nuclear Engineering,...,1,147,0,0.0,Apollo 8,NaN,NaN,Anders,William,William Anders
9,Clayton C. Anderson,1998.0,17.0,Retired,2/23/1959,"Omaha, NE",Male,Hastings College; Iowa State University,Physics,Aerospace Engineering,...,2,4005,6,38.0,"STS-117/120 (Atlantis/Discovery), STS-131 (Dis...",NaN,NaN,Anderson,Clayton,Clayton Anderson
10,Michael P. Anderson,1995.0,15.0,Deceased,12/25/1959,"Plattsburgh, NY",Male,University of Washington; Creighton University,Physics & Astronomy,Physics,...,2,594,0,0.0,"STS-89 (Endeavor), STS-107 (Columbia)",2/1/2003,STS-107 (Columbia),Anderson,Michael,Michael Anderson

In [5]:
count=0
count2=0
for name_crew in eva_format_df["Crew"]:
    count+=1
    count2=0
    for full_name in astronaut_format_df["Full Name"]:
        count2+=1
        if full_name in name_crew:
            un_degree = astronaut_format_df.iloc[count2-1,8]
            grad_degree = astronaut_format_df.iloc[count2-1,9]
            if eva_format_df.iloc[count-1,7] == "":
                eva_format_df.iloc[count-1,7] = un_degree
            else:
                eva_format_df.iloc[count-1,7] = f"{eva_format_df.iloc[count-1,7]}, {un_degree}"
            
            if eva_format_df.iloc[count-1,8] == "":
                eva_format_df.iloc[count-1,8] = grad_degree
            else:
                eva_format_df.iloc[count-1,8] = f"{eva_format_df.iloc[count-1,8]}, {grad_degree}"

In [11]:
eva_format_df = eva_format_df.fillna("Not listed")
eva_format_df = eva_format_df.replace("","Not listed")
eva_format_df.head(15)

,EVA #,Country,Crew,Vehicle,Date,Duration,Purpose,Undergraduate Major,Graduate Major
0,1.0,USA,Ed White,Gemini IV,06/03/1965,0:36,First U.S. EVA. Used HHMU and took photos. G...,Not listed,Aeronautical Engineering
1,2.0,USA,David Scott,Gemini VIII,"March 16-17, 1966",0:00,HHMU EVA cancelled before starting by stuck on...,Not listed,Aeronautics & Astronautics
2,3.0,USA,Eugene Cernan,Gemini IX-A,06/05/1966,2:07,"Inadequate restraints, stiff 25ft umbilical an...",Electrical Engineering,Aeronautical Engineering
3,4.0,USA,Mike Collins,Gemini X,07/19/1966,0:50,Standup EVA. UV photos of stars. Ended by ey...,Not listed,Not listed
4,5.0,USA,Mike Collins,Gemini X,07/20/1966,0:39,Retrieved MMOD experiment from docked Agena. ...,Not listed,Not listed
5,6.0,USA,Richard Gordon,Gemini XI,09/13/1966,0:44,Attached tether between Agena and Gemini. EVA...,Chemistry,Not listed
6,7.0,USA,Richard Gordon,Gemini XI,09/14/1966,2:10,Standup EVA. Took star photos. Agena tether ops,Chemistry,Not listed
7,8.0,USA,Buzz Aldrin,Gemini XII,11/12/1966,2:29,Standup EVA. Science tasks. Took star photos,Mechanical Engineering,Astronautics
8,9.0,USA,Buzz Aldrin,Gemini XII,11/13/1966,2:06,Attached tether between Agena and Gemini. UV ...,Mechanical Engineering,Astronautics
9,10.0,USA,Buzz Aldrin,Gemini XII,11/14/1966,0:55,Standup EVA. Jettisoned equipment. Took photos,Mechanical Engineering,Astronautics
10,11.0,USA,David Scott,Apollo 9,03/06/1969,0:47,Standup EVA from crew module. Retrieved therm...,Not listed,Aeronautics & Astronautics
11,12.0,USA,Russ Schweickart,Apollo 9,03/06/1969,0:51,Lunar module based. Took photos. Evaluated f...,Not listed,Not listed
12,13.0,USA,Neil Armstrong|Buzz Aldrin,Apollo 11,07/20/1969,2:32,First to walk on the moon. Some trouble getti...,"Mechanical Engineering, Aeronautical Engineering","Astronautics, Aerospace Engineering"
13,14.0,USA,Neil Armstrong|Buzz Aldrin,Apollo 11,07/20/1969,0:05,Jettison suit backpacks and equip to lighten a...,"Mechanical Engineering, Aeronautical Engineering","Astronautics, Aerospace Engineering"
14,15.0,USA,Allen Bean|Pete Conrad,Apollo 12,11/19/1969,3:39,Collected 75.6 lb of geologic material. ALSEP...,Not listed,Not listed

In [12]:
eva_format_df.to_csv('merged_file.csv', index=False)